<style>
    .easytree-draggable i.employee {
        background-image: url("/images/img/employee_16.png") !important;
        height: 16px;
        width: 16px;
        display: inline-block;
        top: 2px;
        position: relative;
    }

    .easytree-draggable i.customer {
        background-image: url("/images/img/customer_16.png") !important;
        height: 16px;
        width: 16px;
        display: inline-block;
        top: 2px;
        position: relative;
    }

    .employee {
        background-image: url("/images/img/employee_16.png") !important;
    }

    .customer {
        background-image: url("/images/img/customer_16.png") !important;
    }
</style>


<form role="form" method="post" action="#" autocomplete="on">
    <div class="row first_tree_rightbar">

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Type Find Tree</label>
                <select class="form-control isee_select_option" ng-model="choice">
                    <option value='' selected="selected">Employee</option>
                    <option value="2">Customer</option>
                </select>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Type Drag drop</label>
                <select class="form-control isee_select_option" ng-model="choiceType">
                    <option value='' selected="selected">Multi</option>
                    <option value="2">Single</option>
                </select>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 tree_save_button">
            <button type="button" class="btn btn-default isee_select_button search_tree" ng-click="search()"><img src="../images/img/search5.png" /></button>
            <button type="button" class="btn btn-default isee_select_button edit_tree" ng-click="clear()"><img src="../images/img/edit5.png" /></button>
            <button type="button" class="btn btn-default isee_select_button save_tree" ng-click="saveTree()"><img src="../images/img/save.png" /></button>
        </div>

    </div>

    <div class="row second_tree_rightbar" ng-hide="choice==2">
        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Last Name</label>
                <input type="text" class="form-control isee_input_shadow" ng-model="EmployeeSearchData.LastName">
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="usr">First Name</label>
                    <input type="text" class="form-control isee_input_shadow" ng-model="EmployeeSearchData.FirstName">
                </div>
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Number</label>
                <input type="text" class="form-control isee_input_shadow" ng-model="EmployeeSearchData.phone">
            </div>
        </div>

    </div>

    <div class="row third_tree_rightbar" ng-show="choice==2">
        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">State</label>
                <input type="text" class="form-control isee_input" ng-model="CustomerSearchData.state">
            </div>

            <div class="form-group">
                <label for="usr">Contact Name</label>
                <input type="text" class="form-control isee_input" ng-model="CustomerSearchData.contactName">
            </div>

        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">City</label>
                <input type="text" class="form-control isee_input" ng-model="CustomerSearchData.city">
            </div>

            <div class="form-group">
                <label for="usr">Company Name</label>
                <input type="text" class="form-control isee_input" ng-model="CustomerSearchData.companyName">
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Street</label>
                <input type="text" class="form-control isee_input" ng-model="CustomerSearchData.street">
            </div>

            <div class="form-group">
                <label for="usr">Phone1</label>
                <input type="text" class="form-control fields isee_input" ng-model="CustomerSearchData.phone1" />

            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Bulding Number</label>
                <input type="text" class="form-control isee_input" ng-model="CustomerSearchData.buldingNumber" />
            </div>

            <div class="form-group">
                <label for="usr">Customer Number</label>
                <input type="number" class="form-control isee_input" ng-model="CustomerSearchData.customerNumber" />
            </div>
        </div>

    </div>

    <div class="row fourth_tree_rightbar">

        <div class="col-md-12 col-xs-12 search_result_header">
            <h5 class="tree_title">Search result</h5>
        </div>

        <div class="col-md-6 col-xs-12 tree_scroll_panel">

            <div class="col-lg-12 col-xs-12 tree_demo_company">

                <div class="col-md-3 col-xs-12 demo_row"><button type="button" class="btn btn-default isee_select_button btn_down" onclick="removeNodeX(false)">Delete Leaf</button></div>

                <div class="col-md-3 col-xs-12 demo_row"><button type="button" class="btn btn-default isee_select_button btn_down" onclick="removeNodeX(true)">Delete Node</button></div>

                <div class="col-md-3 col-xs-12 demo_row">
                    <div class="form-group">
                        <input type="text" class="form-control isee_input tree_panel_search" id="addNewNode">
                    </div>
                </div>

                <div class="col-md-3 col-xs-12 demo_row">

                    <button type="button" class="btn btn-default isee_select_button btn_down" onclick="addNode()">Add Node</button>
                </div>

                <div class="col-lg-12 col-sm-12 tree_second_company">

                    <div id="jstree_demo_div"></div>


                </div>
            </div>

        </div>

        <div class="col-md-6 col-xs-12">

            <div class="col-md-6 col-xs-12 tree_grid_panel">

                <div class="tree_tg-wrap">
                    <table class="tree_tg" id="employeeGrid">
                        <tr>
                            <th class="tree_tg-zqgi"></th>
                            <th class="tree_tg-z1n2">Name</th>
                            <th class="tree_tg-z1n2">Phone1</th>
                        </tr>

                        <tr ng-repeat="gridOption in gridOptions" ng-attr-class="{{gridOption.id == SelectedAdminTreeEmployee && 'easytree-draggable active' || 'easytree-draggable' }}" ng-hide="choice==2" data-oid='{{gridoption.id}}' data-id='{{gridOption.id}}' data-name='{{gridOption.LastName}} {{gridOption.FirstName}}' data-type="employee" ng-mousedown="setVariable(gridOption)">


                            <td class="tg-dx8v_category">
                                <i></i>
                                <span style="display:none;" id='{gridOption.id}'>{{gridOption.id}}</span>
                            </td>


                            <td class="tg-dx8v_category" style="text-align:left !important;">

                                {{gridOption.LastName}}&nbsp;{{gridOption.FirstName}}
                            </td>
                            <td class="tg-dx8v_category" style="text-align:left !important;">
                                {{gridOption.MainAreaPhone}}-{{gridOption.MainPhone}}
                            </td>


                        </tr>
                        <tr ng-repeat="gridCustOption in gridCustOptions" ng-show="choice==2" ng-attr-class="{{gridCustOption.id == SelectedAdminTreeCustomer && 'easytree-draggable active' || 'easytree-draggable' }}" data-type="customer" data-oid=' {{gridCustOption.id}}' data-id=' {{gridCustOption.id}}' data-name='{{gridCustOption.LastName}} {{gridCustOption.FirstName}}' ng-mousedown="setVariable(gridCustOption)">


                            <td class="tg-dx8v_category">
                                <i></i>
                                <span style="display:none;" id='gridCustOption.id'>{{gridCustOption.id}}</span>
                            </td>


                            <td class="tg-dx8v_category" style="text-align:left !important;">

                                {{gridCustOption.LastName}}&nbsp;{{gridCustOption.FirstName}}
                            </td>
                            <td class="tg-dx8v_category" style="text-align:left !important;">
                                {{gridCustOption.AreaPhone1}}-{{gridCustOption.Phone1}}
                            </td>


                        </tr>
                    </table>
                </div>





            </div>

        </div>

    </div>

</form>

<script type="text/javascript">
    var treeJsonData = JSON.parse('@Html.Raw(ViewBag.JsonData)');
    var treeEmployeeJsonData = JSON.parse('@Html.Raw(ViewBag.JsonData)');
    var treeCustomerJsonData = JSON.parse('@Html.Raw(ViewBag.JsonData)');
    var isCurrentNodeAdded = false;

    var newNodeID = -1000;
    var objTree = $('#jstree_demo_div').easytree(
        {
            data: treeJsonData,
            enableDnd: true,
            canDrop: canDrop,
            dropped: dropped,
            dropping: dropping
        });


    function addNode() {
        if ($('#addNewNode').val().trim().length > 0) {
            var sourceNode = {};
            sourceNode.text = $('#addNewNode').val();
            sourceNode.id = newNodeID;
            newNodeID = newNodeID - 1;
            sourceNode.iconUrl = "/images/img/Blank300.png";
            sourceNode.objecttype = "branchNode";
            var target = $('#jstree_demo_div .easytree-active');
            var targetId
            if (target.length > 0) {
                var objType = objTree.getNode(target.attr("id")).objecttype;

                if (objType == "companyNode" || objType == "branchNode") {
                    targetId = target.attr("id")
                    sourceNode.textCss = "customnode";
                    objTree.addNode(sourceNode, targetId);
                    objEmployeeTree.addNode(sourceNode, targetId);
                    objCustomerTree.addNode(sourceNode, targetId);
                    $('#addNewNode').val('')
                }
            }

        }
        objTree.rebuildTree();

    }
    function removeNodeX(bIsNode) {
        var currentlySelected

        var target = $('#jstree_demo_div .easytree-active');
        if (target.length > 0) {
            currentlySelected = target.attr("id")
        }
        var node = objTree.getNode(currentlySelected);
        if (!node) { return; }

        if (node.objecttype == "companyNode")
            return

        if (bIsNode) {
            if (node.children != undefined && node.children.length > 0 && node.objecttype == "branchNode") {
                var appElement = document.querySelector('[ng-controller=SearchCtrl]');
                var $scope = angular.element(appElement).scope();
                $scope.$apply(function () {
                    $scope.ShowMessageBox('Drag and Drop alert', 'Branch can not deleted as it contains data')
                });

                return
            }
            objTree.removeNode(node.id);
            objEmployeeTree.removeNode(node.id);
            objCustomerTree.removeNode(node.id);

        } else {

            if (node.objecttype == "employee" || node.objecttype == "customer") {
                objTree.removeNode(node.id);
            }
        }
        objTree.rebuildTree();
    }

    function canDrop(event, nodes, isSourceNode, source, isTargetNode, target) {
        if (!isTargetNode && target.id == 'divAcceptHref' && isSourceNode) {
            return source.href ? true : false;
        }
        if (isTargetNode) {
            if (($(source).data("type") == "employee" || $(source).data("type") == "customer") && $(source).data("type") == target.objecttype) {
                return false;
            }
            if (($(source).data("type") == "customer") && target.objecttype == "employee") {
                return false;
            }
            if (($(source).data("type") == "employee") && target.objecttype == "customer") {
                return false;
            }
            if (target.objecttype == undefined) {
                return false;
            }
            isCurrentNodeAdded = false;
            return true;
        }
    }
    function dropping(event, nodes, isSourceNode, source, isTargetNode, target, canDrop) {
        if (isSourceNode && !canDrop && target && (!isTargetNode && (target.id == 'divRejectAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropping node rejected '" + source.text + "'");
        }
    }
    function dropped(event, nodes, isSourceNode, source, isTargetNode, target) {
        // internal to external drop
        if (isSourceNode && target && (!isTargetNode && (target.id == 'divAcceptAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropped node accepted '" + source.text + "'");
        }
        if (isSourceNode && isTargetNode) { // internal to internal drop
            // alertMessage("Internal drop accepted, '" + source.text + "'  --> '" + target.text + "'");
        }
        if (isTargetNode && !isSourceNode) { // external to internal drop
            if (!isCurrentNodeAdded) {
                var node = {};
                node.text = $(source).data("name");
                node.id = newNodeID;
                newNodeID = newNodeID - 1;
                node.objectid = $(source).data("id");
                node.objecttype = $(source).data("type");
                if (node.objecttype == "employee") {
                    node.iconUrl = "/images/img/employee_16.png";
                } else {
                    node.iconUrl = "/images/img/customer_16.png";
                }
               
                objTree.addNode(node, target.id);
                objEmployeeTree.addNode(node, target.id);
                objCustomerTree.addNode(node, target.id);

                objTree.rebuildTree();
                isCurrentNodeAdded = true;
                var appElement = document.querySelector('[ng-controller=SearchCtrl]');
                var $scope = angular.element(appElement).scope();
                if ($scope.choiceType == '2') {
                    $('#employeeGrid tr[data-id="' + node.objectid + '"]').remove();
                }
            }
        }
    }
    function alertMessage(message) {
        if (!$('#cbAlerts').is(':checked')) {
            alert(message);
        }
    }
</script>