<form role="form" method="post" action="#" autocomplete="on">
    <div class="row first_tree_rightbar">

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Type Find Tree</label>
                <select class="form-control tree_select_option" ng-model="choice">
                    <option value='' selected="selected">Employee</option>
                    <option value="2">Customer</option>
                </select>
            </div>


        </div>

        <div class="col-md-3 col-xs-12">


            <div class="form-group">
                <label for="usr">Type Drag drop</label>
                <select class="form-control tree_select_option" ng-model="choiceType">
                    <option value='' selected="selected">Multi</option>
                    <option value="2">Single</option>
                </select>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 tree_save_button">
            <button type="button" class="btn btn-default button_color"><i class="fa fa-search" ng-click="search()"></i></button>
            <button type="button" class="btn btn-default button_color"><i class="fa fa-pencil" ng-click="clear()"></i></button>
            <button type="submit" class="btn btn-default button_color"><i class="fa fa-save"></i></button>
        </div>

    </div>

    <div class="row second_tree_rightbar" ng-hide="choice==2">
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <label for="usr">Last Name</label>
                <input type="text" class="form-control" ng-model="EmployeeSearchData.LastName">
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="usr">First Name</label>
                    <input type="text" class="form-control" ng-model="EmployeeSearchData.FirstName">
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <label for="usr">Number</label>
                <input type="number" class="form-control" ng-model="EmployeeSearchData.phone">
            </div>
        </div>

    </div>

    <div class="row third_tree_rightbar" ng-show="choice==2">
        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">State</label>
                <input type="text" class="form-control" ng-model="CustomerSearchData.state">
            </div>

            <div class="form-group">
                <label for="usr">Contact Name</label>
                <input type="text" class="form-control" ng-model="CustomerSearchData.contactName">
            </div>

        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">City</label>
                <input type="text" class="form-control" ng-model="CustomerSearchData.city">
            </div>

            <div class="form-group">
                <label for="usr">Company Name</label>
                <input type="text" class="form-control" ng-model="CustomerSearchData.companyName">
            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Street</label>
                <input type="text" class="form-control" ng-model="CustomerSearchData.street">
            </div>

            <div class="form-group">
                <label for="usr">Phone1</label>
                <input type="number" class="form-control fields" ng-model="CustomerSearchData.phone1" />

            </div>
        </div>

        <div class="col-md-3 col-xs-12">
            <div class="form-group">
                <label for="usr">Bulding Number</label>
                <input type="number" class="form-control fields" ng-model="CustomerSearchData.buldingNumber" />
            </div>

            <div class="form-group">
                <label for="usr">Customer Number</label>
                <input type="number" class="form-control fields" ng-model="CustomerSearchData.customerNumber" />
            </div>
        </div>

    </div>

    <div class="row fourth_tree_rightbar">

        <div class="col-md-12 col-xs-12 search_result_header">
            <h5 class="text-right">Search result</h5>
        </div>

        <div class="col-md-6 col-xs-12 tree_scroll_panel">

            <div class="col-lg-12 col-xs-12 tree_demo_company">
                <div class="form-group">
                    <input type="text" class="form-control tree_panel_search">
                </div>
                <button type="button" class="btn btn-default button_color" onclick="demo_delete()">Delete Leaf</button>
                <button type="button" class="btn btn-default button_color" onclick="demo_delete()">Delete Node</button>
                <button type="button" class="btn btn-default button_color" onclick="demo_create()">Add Node</button>

                <div class="col-lg-12 col-sm-12 tree_second_company">

                    <div id="jstree_demo_div"></div>


                </div>
            </div>

        </div>

        <div class="col-md-6 col-xs-12">

            <div class="col-md-6 col-xs-12 tree_grid_panel">

                <div class="tree_tg-wrap">
                    <table class="tree_tg" id="employeeGrid">
                        <tr>
                            <th class="tree_tg-zqgi"></th>
                            <th class="tree_tg-z1n2">Name</th>
                            <th class="tree_tg-z1n2">Phone1</th>
                        </tr>

                        @*<td>{{gridOption.id}}</td>
                            <td>{{gridOption.FirstName}}</td>
                            <td>{{gridOption.MainPhone}}</td>*@


                        <tr draggable ng-repeat="gridOption in gridOptions" ng-hide="choice==2" data-id='{{gridOption.id}}' data-name='{{gridOption.LastName}} {{gridOption.FirstName}}' data-type="employee" class="tree-drop">


                            <td class="tg-dx8v_category">
                                <span style="display:none;" id='{gridOption.id}'>{{gridOption.id}}</span>
                            </td>


                            <td class="tg-dx8v_category" style="text-align:left !important;">

                                {{gridOption.LastName}}&nbsp;{{gridOption.FirstName}}
                            </td>
                            <td class="tg-dx8v_category" style="text-align:left !important;">
                                {{gridOption.MainAreaPhone}}-{{gridOption.MainPhone}}
                            </td>


                        </tr>
                        <tr ng-repeat="gridCustOption in gridCustOptions" ng-show="choice==2" datatype="customer" class="tree-drop">


                            <td class="tg-dx8v_category">
                                <span style="display:none;" id='gridOption.id'>{{gridCustOptions.id}}</span>
                            </td>


                            <td class="tg-dx8v_category" style="text-align:left !important;">

                                {{gridCustOptions.LastName}}&nbsp;{{gridCustOptions.FirstName}}
                            </td>
                            <td class="tg-dx8v_category" style="text-align:left !important;">
                                {{gridCustOptions.AreaPhone1}}-{{gridOption.Phone1}}
                            </td>


                        </tr>
                    </table>
                </div>





            </div>

        </div>

    </div>

</form>

<script type="text/javascript">
    //$(function () {
    //    var jsonData = [
    // { "id": "ajson1", "parent": "#", "text": "Simple root node" },
    // { "id": "ajson2", "parent": "#", "text": "Root node 2" },
    // { "id": "ajson3", "parent": "ajson2", "text": "Child 1" },
    // { "id": "ajson4", "parent": "ajson2", "text": "Child 2" },
    //    ];
    //    $("#jstree_demo_div").jstree({
    //        "core": {
    //            "check_callback": true,
    //            "data": jsonData
    //        },
    //        "plugins": ["dnd", "types", "changed", "state"]
    //    });
    //})


    var treeJsonData = JSON.parse('@Html.Raw(ViewBag.JsonData)');

    //this will hold reference to the tr we have dragged and its helper
    var c = {};

    $(document).ready(function () {
        $("#jstree_demo_div").jstree({

            'core': {
                "check_callback": true,
                'data': treeJsonData
            },
            "plugins": ["dnd"]
        });

        var notinprogress = true;
        document.getElementById("jstree_demo_div").addEventListener('mouseover', function (e) {
            //This will be the top-most DOM element under cursor
            var target = e.target;
            if (notinprogress && c.helper != undefined && target.tagName == "A" && target.parentElement != undefined && target.parentElement.tagName == "LI" && e.target.parentElement.className.indexOf("jstree-node") >= 0) {
                notinprogress = false;
                var newNode = { "id": "ajson" + c.helper.data("id"), "parent": target.parentElement.getAttribute("id"), "text": c.helper.data("name") };
                treeJsonData.push(newNode);
                resfreshJSTree();
                notinprogress = true;
                c = {};
            }
        });

    });

    var draggedDivElement;



    $("#employeeGrid tr.tree-drop").draggable({
        helper: "clone",
        start: function (event, ui) {
            c.tr = this;
            c.helper = ui.helper;
        }
    });

    var prevTarget = null;

    function resfreshJSTree() {
        $('#jstree_demo_div').jstree(true).settings.core.data = treeJsonData;
        $('#jstree_demo_div').jstree(true).refresh();
    }














    function demo_create() {
        debugger;
        var ref = $('#jstree_demo_div').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) { return false; }
        sel = sel[0];
        sel = ref.create_node(sel, { "type": "file" });
        if (sel) {
            ref.edit(sel);
        }
    };
    function demo_rename() {
        var ref = $('#jstree_demo_div').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) { return false; }
        sel = sel[0];
        ref.edit(sel);
    };
    function demo_delete() {
        var ref = $('#jstree_demo_div').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) { return false; }
        ref.delete_node(sel);
    };
</script>