<!-- employee right panel start ---->
<form role="form" method="post">

    <div class="row employee_top_rightbar">
        <div class="col-md-12 col-xs-12 employee_save_header">
            <button type="reset" class="btn btn-default pull-right isee_select_button search_tree"><img src="../images/img/edit5.png" /></button>
            <button type="submit" class="btn btn-default pull-right floppy-icon isee_select_button search_tree" ng-click="SaveAllEmployeeData()"><img src="../images/img/save.png" /></button>
        </div>

        <div class="col-md-12 col-xs-12 employee_info_panel">
            <div class="row">
                <!---- employee info panel-->
                <!----- ================START======================-->
                <div class="col-md-6 col-xs-12 employee_left_form">
                    <div class="col-md-12 col-xs-12 left_inner_emptab">
                        <h4 class="customer_title">Employee Info</h4>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">Number</label>
                                <input type="tel" class="form-control isee_input" id="txtNumber" ng-model="employeeInfo.Number">
                            </div>

                            <div class="form-group">
                                <label for="usr">First Name *</label>
                                <input type="text" class="form-control isee_input" id="txtfirstName" required ng-model="employeeInfo.firstname">
                            </div>

                            <div class="form-group">
                                <label for="usr">Start Day</label>
                                <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input class="form-control isee_input" type="text" value="" ng-model="employeeInfo.startDay" />
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">Mail</label>
                                <input type="text" id="txtmail" class="form-control isee_input" ng-model="employeeInfo.mail">
                            </div>

                            <div class="form-group">
                                <label for="usr">Last Name *</label>
                                <input type="text" class="form-control isee_input" id="txtlastName" required ng-model="employeeInfo.lastname">
                            </div>


                            <div class="form-group">
                                <label for="usr">End Date</label>
                                <div id="datepicker2" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input class="form-control isee_input" type="text" ng-model="employeeInfo.enddate" />
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-xs-12 employee_left_form">
                    <div class="col-md-12 col-xs-12 right_inner_emptab">
                        <h4 class="customer_title">Add An info</h4>


                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>Phone1 *</label>
                                        <input class="form-control isee_input" id="inputPhone" ng-model="employeeInfo.phone1" maxlength="5" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control isee_input" id="inputPhone1" ng-model="employeeInfo.phone11" maxlength=" 50" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="usr">Manufacture *</label>
                                <select id="ddlmanufacture" onchange="ManufactureTypes(this)" class="form-control tree_select_option isee_button_color" ng-model="employeeInfo.ManufactureChoice" required>
                                    <option value=""></option>
                                    <option value="2">Samsung</option>
                                    <option value="5">LG</option>
                                    <option value="4">BlackBerry</option>
                                    <option value="6">Apple</option>
                                    <option value="3">Motorola</option>
                                    <option value="1">Nokia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>Phone2 *</label>
                                        <input class="form-control isee_input" id="inputPhone2" maxlength="5" ng-model="employeeInfo.phone2" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control isee_input" id="inputPhone21" ng-model="employeeInfo.phone22" maxlength="50" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="usr">Phone Type *</label>
                                <select id="ddlphoneType" class="form-control tree_select_option isee_button_color" ng-model="employeeInfo.phoneTypeChoice" required></select>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



            <div class="row">
                <div class="col-md-6 col-xs-12 employee_hours">
                    <div class="col-md-12 col-xs-12 employee_fill_left">
                        <h4 class="customer_title">Fill Employee Hours</h4>
                        <div class="tg-wrap">

                            <table id="my-table" class="tg">
                                <tr>

                                    <th class="tg-z1n2">Day Status</th>
                                    <th class="tg-z1n2">Start Time</th>
                                    <th class="tg-z1n2">End Time</th>
                                    <th class="tg-z1n2">Start Time</th>
                                    <th class="tg-z1n2">End Time</th>
                                </tr>
                                <tr ng-repeat="employee in employeeData track by $id($index)">

                                    <td class="tg-dx8v">
                                        {{employee.Day}}
                                    </td>
                                    <td class="tg-dx8v">
                                        <span ng-hide="employee.editing" typeof="time" ng-click="editEmployee(employee)">{{employee.Start1}}</span>
                                        <input type="hidden" ng-model="employee.Start1" />
                                        <input id='{{employee.Day}}_1' onfocus="showTime(this)" ng-show="employee.editing" ng-model="employee.Start1" style="width:50px !important" ng-blur="doneEditingEmployee(employee)" />
                                    </td>
                                    <td class="tg-dx8v">
                                        <span ng-hide="employee.editing" ng-click="editEmployee(employee)">{{employee.End1}}</span>
                                        <input type="hidden" ng-model="employee.End1" />
                                        <input id='{{employee.Day}}_2' onfocus="showTime(this)" ng-show="employee.editing" ng-model="employee.End1" style="width:50px !important" ng-blur="doneEditingEmployee(employee)" />
                                    </td>
                                    <td class="tg-dx8v">
                                        <span ng-hide="employee.editing" ng-click="editEmployee(employee)">{{employee.Start2}}</span>
                                        <input type="hidden" ng-model="employee.Start2" />
                                        <input id='{{employee.Day}}_3' onfocus="showTime(this)" ng-show="employee.editing" ng-model="employee.Start2" style="width:50px !important" ng-blur="doneEditingEmployee(employee)" />
                                    </td>
                                    <td class="tg-dx8v">
                                        <span ng-hide="employee.editing" ng-click="editEmployee(employee)">{{employee.End2}}</span>
                                        <input type="hidden" ng-model="employee.End2" />
                                        <input id='{{employee.Day}}_4' onfocus="showTime(this)" ng-show="employee.editing" ng-model="employee.End2" style="width:50px !important" ng-blur="doneEditingEmployee(employee)" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <h4 class="customer_title">Drag Item To Tree</h4>
                        <div class="col-md-12 col-xs-12">
                            <div class="tree_tg-wrap">
                                <table class="tree_tg" id="newemployeeGrid">
                                    <tr ng-hide="choice==2" data-oid='{{NewAddedEmployee.employeeID}}' data-id='{{NewAddedEmployee.employeeID}}' data-name='{{NewAddedEmployee.LastName}} {{NewAddedEmployee.FirstName}}' data-type="employee" class="easytree-draggable">
                                        <td class="tg-dx8v_category">
                                            <i></i>
                                            <span style="display:none;" id='{gridOption.employeeID}'>{{NewAddedEmployee.employeeID}}</span>
                                        </td>
                                        <td class="tg-dx8v_category" style="text-align:left !important;">
                                            {{NewAddedEmployee.LastName}}&nbsp;{{NewAddedEmployee.FirstName}}
                                        </td>
                                        <td class="tg-dx8v_category" style="text-align:left !important;">
                                            {{NewAddedEmployee.MainAreaPhone}}-{{NewAddedEmployee.MainPhone}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div><!--- add new  col-md-12 for drag item -->

                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <div class="col-md-6 col-xs-12 employee_inner_demo_first">

                        <div class="employee_inner_demo">
                            <div class="col-md-6 col-xs-12 employee_inner_demo_second">
                                <div id="jstree_Employee_div"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <!-- Customer right panel end---->
</form>

<script>

    var objEmployeeTree = $('#jstree_Employee_div').easytree(
       {
           data: treeJsonData,
           enableDnd: true,
           canDrop: canDrop,
           dropped: droppedEmployee,
           dropping: dropping
       });

    function droppedEmployee(event, nodes, isSourceNode, source, isTargetNode, target) {
        // internal to external drop
        if (isSourceNode && target && (!isTargetNode && (target.id == 'divAcceptAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropped node accepted '" + source.text + "'");
        }
        if (isSourceNode && isTargetNode) { // internal to internal drop
            // alertMessage("Internal drop accepted, '" + source.text + "'  --> '" + target.text + "'");
        }
        if (isTargetNode && !isSourceNode) { // external to internal drop
            var node = {};
            node.text = $(source).data("name");
            node.id = newNodeID;
            newNodeID = newNodeID - 1;
            node.objectid = $(source).data("id");
            node.objecttype = $(source).data("type");
            if (node.objecttype == "employee") {
                node.iconUrl = "/images/img/employee_16.png";
            } else {
                node.iconUrl = "/images/img/customer_16.png";
            }
            objEmployeeTree.addNode(node, target.id);
            //   alertMessage("Dropped '" + node.text + "' to '" + target.text + "'");
        }
    }

</script>

<!-- Employee_right_asidebar end -->