<!-- employee right panel start ---->
<form role="form" method="post">

    <div class="row employee_top_rightbar">
        <div class="col-md-12 col-xs-12 employee_save_header">
            <button type="reset" class="btn btn-default pull-right button_color"><i class="fa fa-pencil"></i></button>
            <button type="submit" onclick="SaveEmployeeData()" class="btn btn-default pull-right floppy-icon button_color"><i class="fa fa-save"></i></button>
        </div>

        <div class="col-md-12 col-xs-12 employee_info_panel">
            <div class="row">
                <!---- employee info panel-->
                <!----- ================START======================-->
                <div class="col-md-6 col-xs-12 employee_left_form">
                    <div class="col-md-12 col-xs-12 left_inner_emptab">
                        <h4 class="customer_title">Employee Info</h4>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">Number</label>
                                <input type="number" class="form-control" id="txtNumber">
                            </div>

                            <div class="form-group">
                                <label for="usr">First Name *</label>
                                <input type="text" class="form-control" id="txtfirstName" required>
                            </div>

                            <div class="form-group">
                                <label for="usr">Start Day</label>
                                <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input  class="form-control" type="text" value=""/>
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usr">Mail</label>
                                <input type="email" id="txtmail" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="usr">Last Name *</label>
                                <input type="text" class="form-control" id="txtlastName" required>
                            </div>


                            <div class="form-group">
                                <label for="usr">End Date</label>
                                <div id="datepicker2" class="input-group date" data-date-format="mm-dd-yyyy">
                                    <input class="form-control" type="text" />
                                    <span class="input-group-addon"><i class="fa fa-th"></i></span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-xs-12 employee_right_form">
                    <h4 class="customer_title">Add An info</h4>
                    <div class="col-md-12 col-xs-12 right_inner_emptab">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>Phone1 *</label>
                                        <input class="form-control" id="inputPhone" maxlength="5" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control" id="inputPhone1" maxlength="50" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="usr">Manufacture *</label>
                                <select id="ddlmanufacture" onchange="ManufactureTypes(this)" class="form-control tree_select_option" required>
                                    <option value=""></option>
                                    <option value="2">Samsung</option>
                                    <option value="5">LG</option>
                                    <option value="4">BlackBerry</option>
                                    <option value="6">Apple</option>
                                    <option value="3">Motorola</option>
                                    <option value="1">Nokia</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>Phone2 *</label>
                                        <input class="form-control" id="inputPhone2" maxlength="5" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control" id="inputPhone21" maxlength="50" name="phone" required="required" size="3" title="" type="tel" value="" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="usr">Phone Type *</label>
                                <select id="ddlphoneType" class="form-control tree_select_option" required></select>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <!---- employee info panel-->
            <!----- ================End======================-->

            <div class="row">
                <div class="col-md-6 col-xs-12 employee_hours">
                    <div class="col-md-6 col-xs-12 employee_fill_left">
                        <h4 class="customer_title">Fill Employee Hours</h4>
                        <div class="tg-wrap">

                            <table class="tg">
                                <tr>
                                    <th class="tg-zqgi"></th>
                                    <th class="tg-z1n2">Day Status</th>
                                    <th class="tg-z1n2">Start Time</th>
                                    <th class="tg-z1n2">End Time</th>
                                    <th class="tg-z1n2">Start Time</th>
                                    <th class="tg-z1n2">End Time</th>
                                    <th class="tg-zqgil"></th>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Sun</td>





                                    <td class="tg-dx8v">9:00 AM</td>
                                    <td class="tg-dx8v">6:00 PM</td>
                                    <td class="tg-lrt9"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Mon</td>
                                    <td class="tg-dx8v">9:00 AM</td>
                                    <td class="tg-dx8v">6:00 PM</td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Tue</td>
                                    <td class="tg-dx8v">9:00 AM</td>
                                    <td class="tg-dx8v">6:00 PM</td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Wed</td>
                                    <td class="tg-dx8v">9:00 AM</td>
                                    <td class="tg-dx8v">6:00 PM</td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Thu</td>
                                    <td class="tg-dx8v">9:00 AM</td>
                                    <td class="tg-dx8v">6:00 PM</td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Fri</td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                                <tr>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v">Sat</td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-xneb"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                    <td class="tg-dx8v"></td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>

                <div class="col-md-6 col-xs-12 employee_inner_demo">
                    <div class="col-md-6 col-xs-12 employee_inner_demo_first">

                        <div class="col-md-6 col-xs-12 employee_inner_demo_second">
                            <p>Demo Company</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Customer right panel end---->
</form>



<!-- Employee_right_asidebar end -->