<form role="form" method="post" action="">

    <div class="row customer_top_rightbar">
        <div class="col-md-12 col-xs-12 customer_save_header">
            <button type="button" ng-click="clearCustomerDetails();" class="btn btn-default pull-right isee_select_button search_tree"><img src="../images/img/edit5.png" /></button>
            <button type="button" ng-click="SaveCustomerForm()" class="btn btn-default pull-right floppy-icon isee_select_button search_tree"><img src="../images/img/save.png" /></button>
        </div>

        <div class="col-md-12 col-xs-12 customer_info_panel">

            <!---- Customer info panel-->
            <!----- ================START======================-->
            <div class="col-lg-12 col-xs-12 customer_first_form">
                <h4 class="customer_title">Customer Info</h4>
                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label for="usr">Customer Number</label>
                        <input id="inputCustomerNumber" ng-model="CustomerInfo.CustomerNumber" type="tel" class="form-control isee_input_shadow">
                    </div>

                    <div class="form-group">
                        <label for="usr">Floor</label>
                        <input id="inputFloor" ng-model="CustomerInfo.Floor" type="tel" class="form-control isee_input_shadow">
                    </div>

                    <div class="row">
                        <div class="col-xs-5">

                            <label>Phone1</label>
                            <div class="form-group">
                                <input class="form-control isee_input cust_phone" ng-model="CustomerInfo.PhoneArea1" id="inputPhoneOne" maxlength="5" name="" value="" size="3" title="" type="text">
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <label></label>
                            <div class="form-group phone_no">
                                <input class="form-control isee_input cust_phone2" id="inputPhone11" ng-model="CustomerInfo.Phone1" maxlength="10" name="" value="" size="3" title="" type="text">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label for="usr">Company Name *</label>
                        <input id="inputCompanyName" ng-model="CustomerInfo.CompanyName" type="text" class="form-control isee_input" required>
                    </div>

                    <div class="form-group">
                        <label for="usr">Apartment</label>
                        <input id="inputApartment" ng-model="CustomerInfo.Apartment" type="text" class="form-control isee_input">
                    </div>

                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label for="usr">Phone2</label>
                                <input id="inputPhoneTwo" ng-model="CustomerInfo.PhoneArea2" type="tel" class="form-control isee_input cust_phone">
                            </div>
                        </div>

                        <div class="col-xs-7">
                            <label></label>
                            <div class="form-group phone_no">
                                <input class="form-control isee_input cust_phone2" ng-model="CustomerInfo.Phone2" id="inputPhone22" maxlength="10" name="phone" size="3" title="" type="tel">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="form-group">
                        <label for="usr">Contact Name *</label>
                        <input id="inputContactName" ng-model="CustomerInfo.ContactName" type="text" class="form-control isee_input" required>
                    </div>

                    <div class="form-group">
                        <label for="">Mail</label>
                        <input id="inputMail" ng-model="CustomerInfo.Mail" type="email" class="form-control isee_input">
                    </div>


                    <div class="row">
                        <div class="col-lg-6">

                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input class="form-control isee_input" ng-model="CustomerInfo.MobileOne" id="inputMobile" maxlength="3" name="" size="3" title="" type="tel" value="">
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control isee_input" ng-model="CustomerInfo.MobileTwo" id="inputMobile1" maxlength="20" name="" size="3" title="" type="tel" value="">
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6">

                            <div class="row">
                                <div class="col-xs-5">

                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input class="form-control isee_input" ng-model="CustomerInfo.AreaFax" id="inputFax" maxlength="3" name="" size="3" title="" type="tel" value="">
                                    </div>
                                </div>

                                <div class="col-xs-7">
                                    <label></label>
                                    <div class="form-group phone_no">
                                        <input class="form-control isee_input" ng-model="CustomerInfo.Fax" id="inputFax1" maxlength="20" name="" size="3" title="" type="tel" value="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>


            <!---- Customer info panel-->
            <!----- ================End======================-->
            <!---- Customer Building Data-->
            <!----- ================START======================-->
            <div class="col-md-6 col-xs-12  customer_bulding_data">

                <div class="col-md-12 col-xs-12 bulding_inner_left">
                    <h4 class="customer_title">Builiding Data</h4>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="usr">State *</label>
                            <input id="inputState" ng-model="CustomerInfo.State" ng-readonly="{{HasStateActive}}" onchange="GetAllCitysByState()" type="text" class="form-control isee_input" required>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="usr">City *</label>
                            <input id="inputCity" ng-model="CustomerInfo.City" onchange="GetAllStreetByCity()" type="text" class="form-control isee_input" required>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="usr">Street *</label>
                            <input id="inputStreet" ng-model="CustomerInfo.Street" type="text" onchange="GetAllBuildingsByCity()" class="form-control isee_input" required>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Bulding Number *</label>
                            <input id="inputBuldingNumber" ng-model="CustomerInfo.BuildingNumber" onblur="GetSelectedBuildingLatLong()" type="text" class="form-control isee_input" required>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Entry</label>
                            <input id="inputEntry" ng-model="CustomerInfo.Entry" type="text" class="form-control isee_input">
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Zip Code</label>
                            <input id="inputZipCode" ng-model="CustomerInfo.ZipCode" type="tel" class="form-control isee_input">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Visit Interval</label>
                            <input id="inputVisitInterval" ng-model="CustomerInfo.VisitInterval" type="tel" class="form-control isee_input">
                        </div>
                    </div>



                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Visit time</label>
                            <input id="inputVisitTime" ng-model="CustomerInfo.VisitTime" type="tel" class="form-control isee_input">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="usr">Next Visit</label>
                            @*<div class="input-group datetime datepicker">
                                    <input id="inputNextVisit" ng-model="CustomerInfo.NextVisit" class="form-control make-datepicker isee_input" type="text" name="leaving_time">
                                    <span class="input-group-addon">
                                        <i class="fa fa-th"></i>
                                    </span>
                                </div>*@
                            <div id="datepickerNextVisit" class="input-group date" data-date-format="mm-dd-yyyy">
                                <input class="form-control isee_input" ng-model="CustomerInfo.NextVisit" type="text" value="" name="leaving_time" />
                                <span class="input-group-addon"><i class="fa fa-th"></i></span>
                            </div>

                        </div>
                        <button type="button" id="buttonInsert" onclick="InsertAddress()" class="btn btn-default pull-right isee_select_button">Insert address</button>
                    </div>
                    <h4 class="customer_title">Drag Item To Tree</h4>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="tree_tg-wrap">
                                <table class="tg" id="newCustomerGrid">
                                    <tr data-oid='{{NewCustomerDetails.CustomerID}}' data-id='{{NewCustomerDetails.CustomerID}}' data-name='{{NewCustomerDetails.LastName}} {{NewCustomerDetails.FirstName}}' data-type="customer" class="easytree-draggable">
                                        <td class="tg-dx8v">
                                            <i></i>
                                            <span style="display:none;" id='{NewCustomerDetails.CustomerID}'>{{NewCustomerDetails.CustomerID}}</span>
                                        </td>
                                        <td class="tg-dx8v" style="text-align:left !important;">
                                            {{NewCustomerDetails.LastName}}&nbsp;{{NewCustomerDetails.FirstName}}
                                        </td>
                                        <td class="tg-dx8v" style="text-align:left !important;">
                                            {{NewCustomerDetails.AreaPhone1}}-{{NewCustomerDetails.Phone1}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!---- Customer Building Data-->
            <!----- ================END======================-->
            <!---- Customer Demo Company-->
            <!----- ================START======================-->
            <div class="col-md-6 col-xs-12 customer_demo_company">
                <div class="col-md-12 col-xs-12 bulding_inner_right">
                    <div class="col-md-12 col-xs-12 demo_inner_body">
                        <div id="jstree_Customer_div"></div>
                    </div>
                </div>

            </div>

            <!---- Customer Demo Company-->
            <!----- ================END======================-->

        </div>
        <div id="popup_div" style="background-color: White; z-index: 999; position: relative;width:500px !important">
            <div style="overflow:auto;height:100px">
                <table id="MapHeaderGrid" class="tg">
                    <tr>
                        <th class="tg-z1n2">Country</th>
                        <th class="tg-z1n2">State</th>
                        <th class="tg-z1n2">City</th>
                        <th class="tg-z1n2">Street</th>
                        <th class="tg-z1n2">Building Number</th>
                        <th class="tg-z1n2">Full Address</th>
                    </tr>
                    @*<tr>
                            <td class="tg-dx8v">country name</td>
                            <td class="tg-dx8v">state name</td>
                            <td class="tg-dx8v">city name</td>
                            <td class="tg-dx8v">street name</td>
                            <td class="tg-dx8v">building name</td>
                            <td class="tg-dx8v">full address</td>
                        </tr>
                        <tr>
                            <td class="tg-dx8v">country name</td>
                            <td class="tg-dx8v">state name</td>
                            <td class="tg-dx8v">city name</td>
                            <td class="tg-dx8v">street name</td>
                            <td class="tg-dx8v">building name</td>
                            <td class="tg-dx8v">full address</td>
                        </tr>
                        <tr>
                            <td class="tg-dx8v">country name</td>
                            <td class="tg-dx8v">state name</td>
                            <td class="tg-dx8v">city name</td>
                            <td class="tg-dx8v">street name</td>
                            <td class="tg-dx8v">building name</td>
                            <td class="tg-dx8v">full address</td>
                        </tr>
                        <tr>
                            <td class="tg-dx8v">country name</td>
                            <td class="tg-dx8v">state name</td>
                            <td class="tg-dx8v">city name</td>
                            <td class="tg-dx8v">street name</td>
                            <td class="tg-dx8v">building name</td>
                            <td class="tg-dx8v">full address</td>
                        </tr>*@

                </table>
            </div>
            <div id="map_canvas" style="min-height: 350px;min-width:450px !important"></div>
            @*<div class="container">
                            <div class="col-md-3 col-xs-12"></div>
                            <div class="col-md-3 col-xs-12"></div>
                            <div class="col-md-6 col-xs-12 main_map_window">
                                <div class="col-md-12 col-xs-12 top_header_close isee_button_color">
                                    <a href="/Home/login"><i class="fa fa-close pull-right"></i></a>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="map_tg-wrap">
                                        <table class="map_tg">
                                            <tr>
                                                <th class="map_tg-z1n2"></th>
                                                <th class="map_tg-z1n2">Country</th>
                                                <th class="map_tg-z1n2">State</th>
                                                <th class="map_tg-z1n2">City</th>
                                                <th class="map_tg-z1n2">Street</th>
                                                <th class="map_tg-z1n2">Building Number</th>
                                                <th class="map_tg-z1n2">Full Address</th>
                                                <th class="map_tg-z1n2"></th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13727.852614738673!2d76.7375863!3d30.66316605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1446544817898" width="100%" height="400" frameborder="0" style="border:1px solid #808080" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 col-xs-12"></div>
                    <div class="col-md-4 col-xs-12"></div>
                    <div class="col-md-4 col-xs-12" style="padding-bottom:5px;">
                        <button type="submit" class="btn btn-default pull-left map_ok isee_button">OK</button>
                        <button type="submit" class="btn btn-default pull-right map_cancel isee_button">Cancel</button>
                    </div>
                </div>
                </div>*@
        </div>
    </div>
    <!-- Customer right panel end---->
</form>

<script>

    var objCustomerTree = $('#jstree_Customer_div').easytree(
       {
           data: treeCustomerJsonData,
           enableDnd: true,
           canDrop: canDropCustomer,
           dropped: droppedCustomer,
           dropping: droppingCustomer
       });

    function canDropCustomer(event, nodes, isSourceNode, source, isTargetNode, target) {
        if (!isTargetNode && target.id == 'divAcceptHref' && isSourceNode) {
            return source.href ? true : false;
        }
        if (isTargetNode) {
            if (($(source).data("type") == "employee" || $(source).data("type") == "customer") && $(source).data("type") == target.objecttype) {
                return false;
            }
            if (($(source).data("type") == "customer") && target.objecttype == "employee") {
                return false;
            }
            if (($(source).data("type") == "employee") && target.objecttype == "customer") {
                return false;
            }
            if (target.objecttype == undefined) {
                return false;
            }
            isCurrentNodeAdded = false;
            return true;
        }
    }
    function droppingCustomer(event, nodes, isSourceNode, source, isTargetNode, target, canDrop) {
        if (isSourceNode && !canDrop && target && (!isTargetNode && (target.id == 'divRejectAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropping node rejected '" + source.text + "'");
        }
    }

    function droppedCustomer(event, nodes, isSourceNode, source, isTargetNode, target) {
        // internal to external drop
        if (isSourceNode && target && (!isTargetNode && (target.id == 'divAcceptAll' || target.id == 'divAcceptHref'))) {
            //  alertMessage("Dropped node accepted '" + source.text + "'");
        }
        if (isSourceNode && isTargetNode) { // internal to internal drop
            // alertMessage("Internal drop accepted, '" + source.text + "'  --> '" + target.text + "'");
        }
        if (isTargetNode && !isSourceNode) { // external to internal drop
            if (!isCurrentNodeAdded) {
                var node = {};
                node.text = $(source).data("name");
                node.id = newNodeID;
                newNodeID = newNodeID - 1;
                node.objectid = $(source).data("id");
                node.objecttype = $(source).data("type");
                if (node.objecttype == "employee") {
                    node.iconUrl = "/images/img/employee_16.png";
                } else {
                    node.iconUrl = "/images/img/customer_16.png";
                }

                objTree.addNode(node, target.id);
                objEmployeeTree.addNode(node, target.id);
                objCustomerTree.addNode(node, target.id);

                isCurrentNodeAdded = true;
            }
        }
    }

</script>


