


@{
    ViewBag.Title = "Customer";
}

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<div class="container main_customer_tab">

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group customer_input">
            <label for="usr">State</label>
            <input class="form-control isee_input_shadow" id="custState" onblur="GetCitysByState()" name="" type="text" value="">
        </div>
    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group customer_input">
            <label for="usr">City</label>
            <input class="form-control isee_input_shadow" id="custCity" onblur="GetStreetByCity()" name="" type="text" value="">
        </div>
    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group customer_input">
            <label for="usr">Street</label>
            <input class="form-control isee_input_shadow" id="custStreet" onblur="GetBuildingsByCity()" name="" type="text" value="">
        </div>
    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group">
            <label for="usr">Buliding Number</label>
            <input class="form-control isee_input_shadow" id="custBuldingNumber" name="" type="tel" value="">
        </div>
    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group">
            <label for="usr">Customer Number</label>
            <input class="form-control isee_input_shadow" id="custNumber" name="" type="tel" value="">
        </div>
    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group">
            <label for="usr">Contact Name</label>
            <input class="form-control isee_input_shadow" id="custName" name="" type="tel" value="">
        </div>
    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group">
            <label for="usr">Cuompany Name</label>
            <input class="form-control isee_input_shadow" id="custCompany" name="" type="text" value="">
        </div>
    </div>

    <div class="col-md-2 col-xs-12 ">

        <div class="col-xs-5">
            <div class="form-group customer_input">
                <label for="usr">Phone1</label>
                <input class="form-control isee_input_shadow" id="custPhone" name="" type="tel" value="">
            </div>
        </div>

        <div class="col-xs-7">
            <div class="form-group customer_input1">
                <input class="form-control isee_input_shadow" id="custPhone1" name="" type="tel" value="">
            </div>
        </div>



    </div>

    <div class="col-md-1 col-xs-12 ">
        <div class="form-group customer_check_box">
            <input type="checkbox" class="myClass" value="yes" id="isActive" name="" data-color="green">
            <label for="usr">Active</label>
        </div>

    </div>

    <div class="col-md-2 col-xs-12 ">

        <button type="reset" class="btn btn-default customer_edit_btn">
            <img src="../images/img/edit.png" />
        </button>

        <button type="submit" class="btn btn-default customer_edit_btn" onclick="searchCustomerData()">
            <img src="../images/img/search.png" />
        </button>


    </div>


</div>


<div class="container left_main_employee">

    <div class="col-sm-3 col-xs-12 left_main-asidebar emptabs_left_window">
        <div class="col-sm-12 scroll_window" id="left_employee_window">
          


        </div>
    </div>


    <div class="col-sm-9 col-md-9 col-xs-12 right_main_employee">

        <div class="col-md-12 col-xs-12 main_employee_save">
            <label for="text" class="cutomer_label">This is dummy content</label>

            <button type="button" class="btn btn-default pull-right isee_select_button"><img src="../images/img/show_in_map.png" />Show Map</button>
            <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button"><img src="../images/img/edit_details.png" />Set Details</button>
            <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button"><img src="../images/img/cancel.png" /> Cancel</button>
            <button type="button" class="btn btn-default pull-right floppy-icon isee_select_button"><img src="../images/img/save5.png" /> Save</button>

        </div>


        <div class="col-lg-12 col-xs-12 left_inner_main_cuttab">
            <h4 class="customer_title">Customer Info</h4>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="usr">Customer Number</label>
                    <input id="inputCustomerNumber"  type="tel" class="form-control isee_input_shadow">
                </div>

                <div class="form-group">
                    <label for="usr">Floor</label>
                    <input id="inputFloor"   type="tel" class="form-control isee_input_shadow">
                </div>

                <div class="row">
                    <div class="col-xs-5">

                        <label>Phone1</label>
                        <div class="form-group">
                            <input class="form-control isee_input cust_phone" id="inputPhoneOne" maxlength="5" name="" value="" size="3" title="" type="text">
                        </div>
                    </div>

                    <div class="col-xs-7">
                        <label></label>
                        <div class="form-group phone_no">
                            <input class="form-control isee_input cust_phone2" id="inputPhone11" maxlength="10" name="" value="" size="3" title="" type="text">
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="usr">Company Name *</label>
                    <input id="inputCompanyName"  type="text" class="form-control isee_input" required>
                </div>

                <div class="form-group">
                    <label for="usr">Apartment</label>
                    <input id="inputApartment"  type="text" class="form-control isee_input">
                </div>

                <div class="row">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="usr">Phone2</label>
                            <input id="inputPhoneTwo"  type="tel" class="form-control isee_input cust_phone">
                        </div>
                    </div>

                    <div class="col-xs-7">
                        <label></label>
                        <div class="form-group phone_no">
                            <input class="form-control isee_input cust_phone2"  id="inputPhone22" maxlength="10" name="phone" size="3" title="" type="tel">
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-4 col-xs-12">

                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="usr">Contact Name</label>
                            <input id="inputContactName"  type="text" class="form-control isee_input">
                        </div>
                    </div>


                    <div class="col-xs-6">
                        <label for="usr">End Date</label>
                        <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy">
                            <input class="form-control isee_input" type="text" id="" title="enddate" value="" />
                            <span class="input-group-addon"><i class="fa fa-th"></i></span></span>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <label for="">Mail</label>
                    <input id="inputMail"  type="email" class="form-control isee_input">
                </div>

                <div class="row">
                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-xs-5">

                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input class="form-control isee_input"  id="inputMobile" maxlength="3" name="" size="3" title="" type="tel" value="">
                                </div>
                            </div>

                            <div class="col-xs-7">
                                <label></label>
                                <div class="form-group phone_no">
                                    <input class="form-control isee_input"  id="inputMobile1" maxlength="20" name="" size="3" title="" type="tel" value="">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="row">
                            <div class="col-xs-5">

                                <div class="form-group">
                                    <label>Fax</label>
                                    <input class="form-control isee_input"  id="inputFax" maxlength="3" name="" size="3" title="" type="tel" value="">
                                </div>
                            </div>

                            <div class="col-xs-7">
                                <label></label>
                                <div class="form-group phone_no">
                                    <input class="form-control isee_input"  id="inputFax1" maxlength="20" name="" size="3" title="" type="tel" value="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="container main_employee_second_tab">

            <div class="col-md-12 col-sm-12 col-xs-12">


                <div class="container employee_navtab_window">

                    <div class="span12">
                        <ul class="nav nav-tabs">
                            <li class="active menu_tabs"><a href="#Building" data-toggle="tab">Building Data</a></li>
                            <li class="menu_tabs"><a href="#Request" data-toggle="tab">Request</a></li>
                            <li class="menu_tabs"><a href="#Visiting" data-toggle="tab">Visiting Employee</a></li>
                            <li class="menu_tabs"><a href="#Tree" data-toggle="tab">Tree</a></li>

                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="Building">

                                <div class="container sms_tabs">


                                    <div class="col-md-12 emp_border_area">

                                        <div class="col-md-6 col-xs-12 mian_emp_sms">
                                            <p>Customer Note</p>
                                            <div class="col-md-12 left_content_area">

                                                <textarea class="col-md-12 main_cust_area" id="" name="" type="" value="" />
                                                </textarea>

                                                <p></p>
                                                <p>Secondary Customer Note</p>

                                                <textarea class="col-md-12 main_cust_area" id="" name="" type="" value="" />
                                                </textarea>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-xs-12 mian_emp_sms">

                                            <div class="container right_content_tabs_window"></div>

                                            <div class="col-md-9 col-xs-12 msg_date_area">

                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>


                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>


                                                <div class="form-group">
                                                    <label>Street</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>

                                                <div class="form-group">
                                                    <label>Building Number</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>

                                                <div class="form-group">
                                                    <label>Entry</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>

                                                <div class="form-group">
                                                    <label>Zip code</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>


                                                <div class="form-group">
                                                    <label>Street</label>
                                                    <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Visite Interval</label>
                                                        <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                    </div>

                                                </div>



                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Visite Time</label>
                                                        <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                                    </div>

                                                </div>




                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="usr">Next Visit</label>
                                                        <div id="datepicker1" class="input-group date" data-date-format="mm-dd-yyyy">
                                                            <input class="form-control isee_input" type="text" id="" name="startday" value="" />
                                                            <span class="input-group-addon"><i class="fa fa-th"></i></span></span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-6"></div>
                                                <button type="button" class="btn btn-default pull-right send_application isee_select_button">
                                                    Change Address
                                                </button>


                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="tab-pane" id="Request">
                                <div class="container sms_tabs">


                                    <div class="col-md-12">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>From</label>
                                                <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                            </div>

                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>To</label>
                                                <input class="form-control isee_input"  id="" maxlength="3" name="" size="3" title="" type="text" value="">
                                            </div>

                                        </div>


                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="usr">Main Classification</label>
                                                <select class="form-control isee_select_option" id="" maxlength="50" name="manufacture" value="">
                                                    <option></option>
                                                    <option>Select All</option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>

                                        </div>



                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="usr">Secon Classification</label>
                                                <select class="form-control isee_select_option" id="" maxlength="50" name="manufacture" value="">
                                                    <option></option>
                                                    <option>Select All</option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                                            </div>

                                        </div>



                                        <div class="col-md-4">

                                            <button type="submit" class="btn btn-default">
                                                <img src="../images/img/search5.png" />
                                            </button>





                                            <button type="submit" class="btn btn-default">
                                                <img src="../images/img/rsz_1edit_add.png" />
                                            </button>
                                        </div>



                                    </div>

                                    <div class="col-md-12 left_content_area">
                                        <div class="tg-wrap_content_tabs">
                                            <table class="tg">
                                                <tr>
                                                    <th class="tg-z1n2"></th>
                                                    <th class="tg-z1n2">Date</th>
                                                    <th class="tg-z1n2">Main Classification</th>
                                                    <th class="tg-z1n2">Secondary Classification</th>
                                                    <th class="tg-z1n2">Request</th>
                                                    <th class="tg-z1n2">Treatment Date</th>
                                                    <th class="tg-z1n2">Treatment</th>

                                                </tr>
                                                <tr class="tg-dx8v">
                                                    <td class="tg-dx8v"></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"></td>
                                                </tr>
                                                <tr>
                                                    <td class="tg-dx8v"></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"><input type="text" class="msg_grid_input" value="" name="" /></td>
                                                    <td class="tg-dx8v"></td>
                                                </tr>
                                            </table>

                                        </div>
                                    </div>




                                </div>
                            </div>


                            <div class="tab-pane" id="Visiting">
                                <div class="container sms_tabs">

                                </div>


                            </div>


                            <div class="tab-pane" id="Tree">
                                <div class="container sms_tabs">
                                    <div class="col-md-6">
                                        <p class="text-left">Demo Company</p>
                                        <div class="col-md-12 left_content_area">
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="right_content_tabs_window">
                                            <table class="tg">
                                                <tr><td class="tg-dx8v"></td></tr>
                                                <tr><td class="tg-dx8v"></td></tr>
                                            </table>



                                        </div>

                                    </div>

                                </div>


                            </div>


                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>

</div>


<script src="~/Scripts/Custom/Customer.js"></script>