html {
    height: 100%;
}

.btn {
    color: #000;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-size: 12px;
    font-weight: 400;
    font-family: Arial;
    background-color: #3b3939;
}

.isee_input_shadow {
    border: 1px solid rgb(181,189,200);
    color: #000;
    border-color: #adadad;
    height: 28px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 3px 10px #e6e6e6 inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
}

.isee_select_option {
    background: -webkit-linear-gradient(#f9f9f9,#f1f1f1,#a9a9aa,#a9a9aa,#f1f1f1);
    background: -o-linear-gradient(#f9f9f9,#f1f1f1,#a9a9aa,#a9a9aa,#f1f1f1);
    background: -moz-linear-gradient(#f9f9f9,#f1f1f1,#a9a9aa,#a9a9aa,#f1f1f1);
    background: linear-gradient(#f9f9f9,#f1f1f1,#b6b6b6 100%,#e5e5e5 100%,#e5e5e5 10%);
}

.isee_select_button {
    background: -webkit-linear-gradient(#f9f9f9,#f1f1f1,#a9a9aa,#a9a9aa,#f1f1f1);
    background: -o-linear-gradient(#f9f9f9,#f1f1f1,#a9a9aa,#a9a9aa,#f1f1f1);
    background: -moz-linear-gradient(#f9f9f9,#f1f1f1,#a9a9aa,#a9a9aa,#f1f1f1);
    background: linear-gradient(#f1f1f1,#b6b6b6 100%);
}


.qwert {
    line-height: 10px;
}

.btn btn-default {
    font-size: 10px;
}

.btn-change {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 11px;
    margin-right: 3px;
    padding: 7px;
    margin-top: 17px;
}

.new_search_node {
    margin-top: 18px !important;
    margin-left: 10px !important;
    width: 57px !important;
}

.isee_button {
    border: 1px solid rgb(181,189,200);
    color: #000;
    border-color: #adadad;
    height: 25px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    font-size: 13px;
    background-image: -webkit-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: -moz-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: -ms-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: -o-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: linear-gradient(to bottom, #f6f6f6, #cecdcc, #f6f6f6);
}

.isee_button_color {
    background: -webkit-linear-gradient(#ebebeb, #cdcdcd, #ebebeb);
    background: -o-linear-gradient(#ebebeb, #cdcdcd, #ebebeb);
    background: -moz-linear-gradient(#ebebeb, #cdcdcd, #ebebeb);
    background: linear-gradient(#ebebeb, #cdcdcd, #ebebeb);
}


.isee_input {
    border: 1px solid rgb(181,189,200);
    color: #000;
    border-color: #adadad;
    height: 28px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 3px 10px #e6e6e6 inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
}

.form-control {
    width: 100%;
    border-radius: 0px;
    height: 25px;
    padding: 1px;
    font-size: 12px !important;
    color: #000;
    -moz-appearance: none;
}

/*.customer_title {
color:#6b9315;
font-size:14px;
font-weight:bold;
}*/


/*.form-horizontal .control-label {
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}*/

.language_flag {
    margin: 0px;
    width: 66%;
}

.isee_login_input {
    margin-top: 15px;
    border: 1px solid #848484;
}

.phone_no {
    margin-top: 5px;
}


/*===============comment changes =======================*/
/*==============================================
    ============================================*/
/*================= for home page disaple and transparent================ */

/*.disable {
    pointer-events: none;
    opacity: 0.4;
}

    .disable div,
    .disable textarea {
        overflow: hidden;
    }

.phone_no {
    margin-top: 5px;
}*/





/*============================= START ================================*/
/* home page design */
.main_content {
    width: 100% !important;
    height: 510px;
}


.menu_bar {
    padding: 0px;
    height: 91px;
    width: 100%;
    border-radius: 0px;
    background-image: url('../../images/header.png');
}


.navbar-header {
    position: relative;
    float: left;
    top: 40px;
}

.right_menu_isee {
    position: relative;
    z-index: -20;
}


.navbar-nav {
    font-size: 15px;
    text-align: center;
    margin-left: -35px;
    height: 88px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
    background-color:;
    background: -webkit-linear-gradient(#b6c3a1, #f1f8e8 60%);
    background: -moz-linear-gradient(#b6c3a1, #f1f8e8 60%);
    background: -ms-linear-gradient(#b6c3a1, #f1f8e8 60%);
    background: -o-linear-gradient(#b6c3a1, #f1f8e8 60%);
    padding: 15px; /* 16 nov changes */
    margin: 0px;
    height: 90px;
}


.navbar-nav > li {
    float: left;
    padding-left: 40px;
}

.navbar-default {
    height: 91px;
    padding: 0px;
    margin: 0px;
    z-index: 999;
    position: relative;
}



.img-rounded {
    border-radius: 50%;
    background: rgb(181,189,200);
    background: -moz-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    background: radial-gradient(ellipse at center, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
}

.img-rounded {
    border: 1px solid #7e7600;
    width: 45px;
    height: 45px;
}

    .img-rounded:hover {
        background: #d6d6d6;
        background: -webkit-radial-gradient(circle, #d6d6d6, #636e76);
        background: -o-radial-gradient(circle, #d6d6d6, #636e76);
        background: -moz-radial-gradient(circle, #d6d6d6, #636e76);
        background: radial-gradient(circle, #d6d6d6);
        transition: opacity;
        transition-duration: 900ms;
        border: 3px solid #7e7600;
    }

.nav_title {
    text-align: center;
    position: relative;
    top: 5px;
    color: #565555;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background: #f1f8e8;
}


.isee_logo {
    position: relative;
    float: right;
    top: 50px;
}

.isee_logout_tool {
    position: relative;
    float: right;
    top: 15px;
    right: -250px;
}

.isee_settin_tool {
    position: relative;
    float: right;
    right: -189px;
    top: 15px;
}



/*  Login section start */
/*========================== START ====================*/
.login_oval {
    width: 80px;
    height: 80px;
    background: #a0cc3a;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    z-index: 100;
    position: relative;
    top: 0px;
    right: 128px;
    padding: 10px;
    box-sizing: content-box;
}

.error_msg {
    box-sizing: content-box;
}

.login_overllay {
    background: pink;
    height: 100%;
}


.login_cover_background {
    background: #5d5d5d;
    height: 350px;
    width: 50%;
    margin: auto;
    top: 15px;
    z-index: -10;
    position: relative;
}

.main_login {
    height: auto;
    font-size: 13px;
    color: #757575;
    margin-top: -300px;
    background: #ddebbe;
    border-radius: 5px;
    background: -webkit-linear-gradient(#e6e9e1, #ddebbe);
    background: -moz-linear-gradient(#e6e9e1, #ddebbe);
    background: -ms-linear-gradient(#e6e9e1, #ddebbe);
    background: -o-linear-gradient(#e6e9e1, #ddebbe);
    position: relative;
    display: block;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
    -moz-box-reflect: below 0 -moz-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
    -ms-box-reflect: below 0 -ms-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
    -o-box-reflect: below 0 -o-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.25)), color-stop(0.3, transparent));
}

.login_form_title {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
    margin-left: -10px;
}

.resionSEE_form_title {
    font-size: 18px;
    padding: 10px;
    font-weight: 500;
}

.form-horizontal .control-label {
    padding-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.bottom_save_area {
    margin-top: 10px;
}

.reset_cancel {
    margin-left: 5px;
    border: 1px solid rgb(181,189,200);
}

.login_save_data {
    padding-bottom: 5px;
}

.login_flag {
    color: #333;
    border: 1px solid #848484;
    border-radius: 0px;
    height: auto;
    width: 60%;
    padding: 2px;
    margin-right: 20px;
    background-image: -webkit-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: -moz-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: -ms-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: -o-linear-gradient(top, #f6f6f6, #cecdcc, #f6f6f6);
    background-image: linear-gradient(to bottom, #f6f6f6, #cecdcc, #f6f6f6);
}

.drop_menu_window {
    position: absolute;
    top: 100%;
    left: 32px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 55px;
    padding: 0px 0;
    margin: 26px 0 0;
    font-size: 15px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*============================= START ================================*/

.admin_area {
    width: 100% !important;
    padding: 15px;
    margin: 0px;
    height: auto;
}

.search_reslt {
    color: #6b9315;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.tree_left_asidebar {
    z-index: 10;
    padding: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    font-size: 11.5px;
    font-weight: 300;
    margin-left: -5px;
    margin-top: -15px;
}

.tree_panel_tab {
    border-radius: 5px;
    background: #f7f5e0;
    border: 1px solid #a79c00;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px 3px;
    background-color: #fff;
    border: 1px solid #a79c00;
    margin-bottom: 5px;
    background: #f7f5e0;
}


.tree_title {
    text-align: right;
    font-weight: bold;
    color: #6b9315;
    font-size: 15px;
}

.btn_down {
    margin-top: 10px;
    padding: 4px;
}

.demo_row {
    margin-left: -15px;
}


.tree_right_asidebar {
    background: #484747;
    height: 500px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;
}

.first_tree_rightbar {
    border-radius: 5px;
    height: auto;
    padding-top: 0px;
    color: #6a6a6a;
    background: #e6e6e6;
}

.tree_save_button {
    margin-top: 16px;
}



.search_tree {
    padding: 0px;
    height: 33px;
    width: 35px;
}

.edit_tree {
    padding: 0px;
    height: 33px;
    width: 35px;
    margin-left: 10px;
}

.save_tree {
    padding: 0px;
    height: 33px;
    width: 35px;
    margin-left: 25px;
}

.second_tree_rightbar {
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    padding: 2px;
    color: #6a6a6a;
    background: #e6e6e6;
}

.third_tree_rightbar {
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    padding: 5px;
    color: #6a6a6a;
    background: #e6e6e6;
    background: -webkit-linear-gradient(#e6e6e6, #fff);
    background: -o-linear-gradient(#e6e6e6, #fff);
    background: -moz-linear-gradient(#e6e6e6, #fff);
    background: linear-gradient(#e6e6e6, #fff);
}

.fourth_tree_rightbar {
    border-radius: 5px;
    margin-top: 10px;
    height: auto;
    padding: 3px;
    color: #6a6a6a;
    background: green;
    background: -webkit-linear-gradient(#e6e6e6, #fff);
    background: -o-linear-gradient(#e6e6e6, #fff);
    background: -moz-linear-gradient(#e6e6e6, #fff);
    background: linear-gradient(#e6e6e6, #fff);
}

.search_result_header {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgb(181,189,200);
    height: auto;
    padding: -1px;
    background: -webkit-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -o-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -moz-linear-gradient(#b9b9b9, #fefefe 50%);
    background: linear-gradient(#b9b9b9, #fefefe 50%);
}

.tree_scroll_panel {
    height: auto;
    border-radius: 0px 5px 5px;
}

.tree_panel_search {
    margin-top: 10px;
}

.tree_demo_company {
    margin-top: 5px;
    padding: 4px;
    padding-top: 0px;
    border-radius: 5px;
    height: auto;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.tree_second_company {
    border: 1px solid #b6b5a2;
    height: 318px;
    margin-top: -5px;
    overflow: auto;
    margin-bottom: 10px;
    padding: 0px;
}

.tree_grid_panel {
    height: 380px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    border: 1px solid rgb(181,189,200);
    background: #fff;
}

.tree_tg-wrap {
    width: 100%;
    background: #fff;
    padding: 0px;
    margin: 0px;
}

.tree_tg {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

    .tree_tg th {
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

    .tree_tg .tree_tg-z1n2 {
        background-color: #000000;
        color: #ffffff;
        vertical-align: top;
        line-height: 5px;
        border: 1px solid #848484;
        background: rgb(19,19,19);
        background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
        background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    }

        .tree_tg .tree_tg-z1n2:hover {
            background: #fed561;
            background: -webkit-linear-gradient(#fed561, #fed561);
            background: -o-linear-gradient(#fed561, #fed561);
            background: -moz-linear-gradient(#fed561, #fed561);
            background: linear-gradient(#fed561, #fed561);
            color: #000;
        }

    .tree_tg .tree_tg-zqgi {
        background-color: #000000;
        vertical-align: top;
        width: 35px;
        border: 1px solid #848484;
        background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
        background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    }


/* Tree right panel */
/*============================= END ================================*/


/* Customer  right panel */
/*============================= START ================================*/

.customer_right_asidebar {
    background: #484747;
    height: auto;
    color: #000;
    font-size: 12px;
    font-style: normal;
}

.cust_phone {
    width: 37%;
}


.floppy-icon {
    margin-right: 2px;
}

.customer_top_rightbar {
    border-radius: 5px;
    margin-top: 3px;
    height: auto;
    padding: 0px;
    color: #6a6a6a;
    background: #484747;
    background: -webkit-linear-gradient(#e6e6e6, #fff);
    background: -o-linear-gradient(#e6e6e6, #fff);
    background: -moz-linear-gradient(#e6e6e6, #fff);
    background: linear-gradient(#e6e6e6, #fff);
}

.customer_save_header {
    border-bottom: 1px solid rgb(181,189,200);
    background: #e6e6e6;
    background: -webkit-linear-gradient(#e6e6e6, #fff);
    background: -o-linear-gradient(#e6e6e6, #fff);
    background: -moz-linear-gradient(#e6e6e6, #fff);
    background: linear-gradient(#e6e6e6, #fff);
    height: auto;
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
}

.customer_info_panel {
    background: #fff;
    height: auto;
    border-radius: 0px 0px 5px 5px;
}

.customer_title {
    text-align: left;
    font-weight: bold;
    color: #6b9315;
    font-size: 15px;
}

.customer_first_form {
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.customer_bulding_data {
    height: auto;
    margin-top: 10px;
    padding: 5px;
}

.bulding_inner_left {
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(181,189,200);
    background: #fff;
}

.customer_demo_company {
    height: auto;
    margin-top: 10px;
    padding: 5px;
}

.bulding_inner_right {
    height: 553px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(181,189,200);
    background: #fff;
}

.demo_inner_body {
    height: 530px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(181,189,200);
    background: #fff;
    overflow: scroll;
}


/*=========== customer map popup window===============*/

/*.custum_map_address {
    width: 600px !important;
    background: #e6e6e6;
    height: 400px;
}

.top_header_close {
    background: #b6b5a2;
    padding: 2px;
}


.map_tg-wrap {
    width: 50%;
    height: 100px;
    background: #fff;
    margin-top: 10px;
    overflow: scroll;
    border: 1px solid #848484;
}

.map_tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}


    .map_tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 5px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

    .map_tg .map_tg-z1n2 {
        font-size: 12px;
        background-color: #000000;
        color: #ffffff;
        vertical-align: top;
        border: 1px solid #848484;
        background: rgb(19,19,19);
        background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
        background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
        background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    }

        .map_tg .map_tg-z1n2:hover {
            background: #fed561;
            background: -webkit-linear-gradient(#fed561, #fed561);
            background: -o-linear-gradient(#fed561, #fed561);
            background: -moz-linear-gradient(#fed561, #fed561);
            background: linear-gradient(#fed561, #fed561);
            color: #000;
        }

    .map_tg .map_tg-dx8v {
        font-size: 12px;
        vertical-align: top;
        border: 1px solid #ccc;
    }

    .map_tg .map_tg-xneb {
        font-size: 12px;
        color: #000000;
        vertical-align: top;
        border: 1px solid #ccc;
    }*/


/*============customer map popup window section end */



/* Customer  right panel  */
/*================ END =====================*/

/*=============== Employee Tab Start ===============*/
.employee_right_asidebar {
    height: auto;
    color: #000;
    font-size: 12px;
    font-style: normal;
    position: relative;
    top: -7px;
}



.employee_top_rightbar {
    border-radius: 8px;
    height: auto;
    color: #6a6a6a;
    /*background:#b9b9b9;
    background: -webkit-linear-gradient(#b9b9b9, #e6e6e6 10%); 
    background: -o-linear-gradient(#b9b9b9, #e6e6e6 10%); 
    background: -moz-linear-gradient(#b9b9b9, #e6e6e6 10%);
    background: linear-gradient(#b9b9b9, #e6e6e6 10%);*/
    padding: 0px;
}

.employee_save_header {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgb(181,189,200);
    height: auto;
    padding: 5px;
    background: -webkit-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -o-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -moz-linear-gradient(#b9b9b9, #fefefe 50%);
    background: linear-gradient(#b9b9b9, #fefefe 50%);
}

.employee_info_panel {
    height: auto;
    border-radius: 0px 0px 5px 5px;
    background: #ffffff;
}

.employee_title {
    text-align: left;
    font-weight: bold;
    color: #6b9315;
    font-size: 13px;
}

.left_inner_emptab {
    margin-top: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #000;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.employee_right_form {
    margin-top: 5px;
    border-radius: 5px;
    background: #ff6a00;
    padding: 10px;
    border: 1px solid rgb(181,189,200);
    background: #eeeeee;
    background: -webkit-linear-gradient(#eeeeee, #fff);
    background: -o-linear-gradient(#eeeeee, #fff);
    background: -moz-linear-gradient(#eeeeee, #fff);
    background: linear-gradient(#eeeeee, #fff);
}

.right_inner_emptab {
    height: 250px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.employee_fill_left {
    margin-top: 10px;
}

.employee_fill_left {
    height: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(181,189,200);
    background: #fff;
}

.tg-wrap {
    width: 100%;
    background: #fff;
    margin-top: -10px;
    padding: 5px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: scroll;
    width: 100%;
}

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 6px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
    }

.td {
    border: 1px solid #ccc;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-z1n2 {
    font-size: 12px;
    background-color: #000000;
    color: #ffffff;
    line-height: 5px;
    vertical-align: top;
    border: 1px solid #848484;
    background: rgb(19,19,19);
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
}

    .tg .tg-z1n2:hover {
        background: #fed561;
        background: -webkit-linear-gradient(#fed561, #fed561);
        background: -o-linear-gradient(#fed561, #fed561);
        background: -moz-linear-gradient(#fed561, #fed561);
        background: linear-gradient(#fed561, #fed561);
        color: #000;
    }

.tg .tg-dx8v {
    font-size: 12px;
    vertical-align: top;
    border: 1px solid #ccc;
    height: 25px;
    overflow: auto;
}

.employee_inner_demo {
    height: 310px;
    overflow: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(181,189,200);
}

.employee_inner_demo_first {
    width: 100%;
    height: 340px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(181,189,200);
}
/* Employee right panel  */
/*=============== Employee Tab End ==================*/




/* category right panel */
/*============================= START ================================*/
/* today current changes*/
.category_right_asidebar {
    background: #232222;
    height: auto;
    color: #000;
    font-size: 12px;
}

.language_box {
    margin-top: 5px;
}

.category_rightbar {
    border-radius: 5px;
    margin: 0px;
    height: auto;
    padding: 5px;
    color: #6a6a6a;
    background: green;
    background: -webkit-linear-gradient(#e6e6e6, #fff);
    background: -o-linear-gradient(#e6e6e6, #fff);
    background: -moz-linear-gradient(#e6e6e6, #fff);
    background: linear-gradient(#e6e6e6, #fff);
}

.category_header {
    border-radius: 5px 5px 0px 0px;
    background: #e6e6e6;
    border-bottom: 1px solid #b9b9b9;
    padding: 5px;
    background: -webkit-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -o-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -moz-linear-gradient(#b9b9b9, #fefefe 50%);
    background: linear-gradient(#b9b9b9, #fefefe 50%);
    height: 50px;
}


.category_scroll_panel {
    height: auto;
}

.order_input {
    width: 42%;
}



.category_company {
    background: #fefefe;
    margin-top: 15px;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    border-radius: 5px;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.qwert {
    height: 350px;
    border: 1px solid rgb(181,189,200);
    overflow: scroll;
}

.category_company .left_pannel_btn {
    margin-top: 20px !important;
}

.category_grid_panel {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    border: 1px solid rgb(181,189,200);
}

.category_tg-wrap {
    width: 100%;
    background: #fff;
    padding: 0px;
    margin: 0px;
    height: 300px;
}

.category_tg {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.category_title {
    color: #6b9315;
    font-weight: bold;
}



.category_tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.category_tg .category_tg-z1n2 {
    font-size: 12px;
    background-color: #000000;
    color: #ffffff;
    width: 5%;
    line-height: 5px;
    vertical-align: top;
    border: 1px solid #ccc;
    background: rgb(19,19,19);
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
}

.category_tg .category_tg-z1n21 {
    font-size: 12px;
    line-height: 5px;
    width: 40%;
    background-color: #000000;
    color: #ffffff;
    vertical-align: top;
    border: 1px solid #ccc;
    background: rgb(19,19,19);
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
}

.category_tg .category_tg-z1n2:hover {
    background: #fed561;
    background: -webkit-linear-gradient(#fed561, #fed561);
    background: -o-linear-gradient(#fed561, #fed561);
    background: -moz-linear-gradient(#fed561, #fed561);
    background: linear-gradient(#fed561, #fed561);
    color: #000;
}

.category_tg .category_tg-zqgi {
    font-size: 12px;
    background-color: #000000;
    vertical-align: top;
    width: 35px;
    border: 1px solid #ccc;
    background: -moz-linear-gradient(top, rgba(19,19,19,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(17,17,17,1) 40%, rgba(0,0,0,1) 42%, rgba(44,44,44,1) 57%, rgba(71,71,71,1) 70%, rgba(102,102,102,1) 86%, rgba(89,89,89,1) 92%, rgba(76,76,76,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(19,19,19,1)), color-stop(9%,rgba(28,28,28,1)), color-stop(24%,rgba(43,43,43,1)), color-stop(40%,rgba(17,17,17,1)), color-stop(42%,rgba(0,0,0,1)), color-stop(57%,rgba(44,44,44,1)), color-stop(70%,rgba(71,71,71,1)), color-stop(86%,rgba(102,102,102,1)), color-stop(92%,rgba(89,89,89,1)), color-stop(100%,rgba(76,76,76,1)));
    background: -webkit-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -o-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: -ms-linear-gradient(top, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
    background: linear-gradient(to bottom, rgba(19,19,19,1) 0%,rgba(28,28,28,1) 9%,rgba(43,43,43,1) 24%,rgba(17,17,17,1) 40%,rgba(0,0,0,1) 42%,rgba(44,44,44,1) 57%,rgba(71,71,71,1) 70%,rgba(102,102,102,1) 86%,rgba(89,89,89,1) 92%,rgba(76,76,76,1) 100%);
}

.tg-dx8v_category {
    border: 1px solid #ccc;
    text-align: center;
}

    .tg-dx8v_category .myClass {
        margin-left: 0px;
        margin-top: 17px;
    }

.category_form_table {
    max-width: 50% !important;
    margin: auto !important;
    height: 20px !important;
    margin-top: 15px !important;
    padding: 0px;
}

/* today current changes*/

/* category  right panel */
/*============================= category section statrt  end ================================*/

/* admin_page end */

/*============================= END ================================*/


/*============================ main employee tab start============================== */
/*======================= 4 NOV 2015 ==============================*/


/* top first employee tab strat */
.main_employee_tab {
    width: 99% !important;
    margin: auto;
    height: auto;
    border-radius: 8px;
    background: #e6e6e6;
    padding: 0px !important;
    color: #000;
    margin-top: 15px;
}

.btn {
    font-size: 12px !important;
    border: 1px solid #a5a5a5;
}










.employee-top_buton {
}

.e_search {
    margin-right: 60px;
    margin-top: -50px;
}

.e_pencil {
    margin-top: -50px;
}

.e_chkbox {
    margin-top: 25px;
}

.left_main_employee {
    width: 99% !important;
    padding: 0px;
    margin-top: 10px !important;
    margin: auto;
    height: auto;
}

.left_main-asidebar {
    z-index: 10;
    padding: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    font-size: 12px;
    font-weight: 400;
    margin-left: -5px;
}

.emptabs_left_window {
    height: auto;
}

.scroll_window {
    position: relative;
    display: block;
    padding: 10px;
    border-radius: 8px;
    height: 580px !important;
    margin-top: -10px;
    background: #8b8a8a;
    overflow: auto !important;
}

.tab_box {
    height: 100px;
    border: 1px solid #a79c00;
    background: #f7f5e0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.right_main_employee {
    color: #000;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    height: auto;
    background: #b9b9b9;
    background: -webkit-linear-gradient(#b9b9b9, #e6e6e6 40%);
    background: -o-linear-gradient(#b9b9b9, #e6e6e6 40%);
    background: -moz-linear-gradient(#b9b9b9, #e6e6e6 40%);
    background: linear-gradient(#b9b9b9, #e6e6e6 40%);
    border-radius: 5px;
    height: auto;
}

.top_header_employee {
    margin-top: 10px;
    padding: 0px;
}


.main_employee_save {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid rgb(181,189,200);
    height: auto;
    padding: 5px;
    background: -webkit-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -o-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -moz-linear-gradient(#b9b9b9, #fefefe 50%);
    background: linear-gradient(#b9b9b9, #fefefe 50%);
}


.main_employee_first_tab {
    margin: auto;
    width: 100%;
    padding: 10px 10px 10px 10px;
}


.left_inner_main_emptab {
    margin-top: 5px;
    border-radius: 5px;
    color: #000;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}


.main_employee_second_tab {
    margin: auto;
    width: 100%;
    padding: 10px 10px 10px 10px red;
}


.employee_navtab_window {
    width: 100% !important;
    margin: auto;
    margin-top: 10px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}


.tab-content {
    height: auto;
    border: 1px solid #666666;
    border-radius: 0px 8px 8px;
}

.tab-pane {
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 0px 8px 8px 8px;
    color: #000;
    background: #ffffff;
}

.nav-tabs > li {
    width: 70px !important;
}

.menu_tabs {
    margin-top: -5px;
}

.sms_tabs {
    width: 98% !important;
    height: auto;
    position: relative;
    z-index: -2px;
}

.nav-tabs > li > a {
    margin-right: 2px;
    padding-bottom: 10px;
    line-height: 1;
    height: 30px;
    padding: 9px;
    border: 1px solid #64623a;
    border-bottom: 0px;
    border-radius: 8px 8px 0 0;
    background: -webkit-linear-gradient(0deg, #8aab44,#71981c 100%, #71961f);
    background: -o-linear-gradient(0deg, #8aab44, #71981c, #71961f);
    background: -moz-linear-gradient(0deg, #8aab44, #71981c, #71961f);
    background: linear-gradient(0deg, #8aab44, #71981c, #71961f);
    color: #000;
}

.nav-tabs > li.active > a {
    border-bottom: 0px;
    background: -webkit-linear-gradient(#dfdfdf,#ffffff);
    background: -o-linear-gradient(#dfdfdf,#ffffff);
    background: -moz-linear-gradient(#dfdfdf,#ffffff);
    background: linear-gradient(#dfdfdf,#ffffff);
    border-right: 1px solid #64623a;
}


.nav-tabs {
    border-bottom: 0px;
}

.left_employee_search {
    background: red;
    height: 400px;
    border-radius: 5px;
}

.right_employee_search {
    background: green;
    height: auto;
    border-radius: 8px;
}

.employee_right_window {
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.right_inner_window {
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px;
}

.send_application {
    margin-top: 18px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: #fff;
    border: 1px solid rgba(71,71,71,1);
    border-bottom: 0px !important;
}


.left_content_area {
    border-right: 1px solid #ddd;
    height: 200px;
    padding: 5px;
    margin-bottom: 10px;
}


.main_content_area {
    width: 98% !important;
    height: 120px;
    ;
    margin: auto;
    border: 1px solid #6a6a6a;
    box-shadow: 5px 5px 10px #e6e6e6;
}



.main_tg-wrap_content_tabs {
    background: #fff;
    padding: 0px;
    margin: 0px;
    border: 1px solid #ddd;
    height: 100px;
    width: 100%;
}

.emp_border_area {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: auto;
    border: 1px solid #808080;
}



.show_below_main {
    padding: -2px 12px !important;
    height: 31px !important;
    margin-top: 20px !important;
}


.show_below_mains {
    padding: -2px 12px !important;
    height: 31px !important;
    margin-top: 20px !important;
    margin-right: -18px;
}

.right_content_tabs_window {
    margin-top: 35px;
}

.select_color {
    background: #e0e0e0;
}

.msg_grid_input {
    max-width: 70px;
    border: none;
}



/*============================Employee END ============================== */



/* footer area */

.isee_footer {
    margin-top: 0px;
}

.isee_copyright {
    text-align: center;
    color: #ddd;
    font-size: 12px;
}


/**Customer Calendar Control Icon*/

.input-group-addon:last-child {
    border-left: 0;
    height: 25px;
    padding: 4px;
}
/**Customer Calendar Control Icon Publish*/


.grid_style {
    margin-bottom: 4px !important;
    padding: 0px !important;
    padding-bottom: -4px;
    margin-top: -11px;
}


/**Easy Tree Custom Css*/
span.customnode {
    font-weight: bold;
}

span.easytree-drag-source {
    background-color: rgba(247, 161, 87, 0.74) !important;
}

.easytree-focused span.easytree-active .easytree-title, .easytree-title:hover {
    color: black;
    s border-color: transparent !important;
    background: transparent !important;
}

tr.active {
    background-color: rgba(247, 161, 87, 0.74);
}
/**Easy Tree Custom Css Ends */


/*========================== customer section start ====================== */

.main_customer_tab {
    width: 99% !important;
    margin: auto;
    height: auto;
    border-radius: 8px;
    background: #e6e6e6;
    padding: 5px !important;
    color: #000;
    margin-top: 10px;
}

.customer_input {
    position: relative;
    top: 17px;
}

.customer_input1 {
    position: relative;
    top: 39px;
}

.customer_check_box {
    position: relative;
    top: 41px;
}

.customer_edit_btn {
    position: relative;
    top: 32px;
}


.left_inner_main_cuttab {
    margin-top: 5px;
    border-radius: 5px;
    color: #000;
    border: 1px solid #64623a;
    background: -webkit-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -o-linear-gradient(#dfdfdf, #ffffff 10%);
    background: -moz-linear-gradient(#dfdfdf, #ffffff 10%);
    background: linear-gradient(#dfdfdf, #ffffff 10%);
}

.cutomer_label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    top: 5px;
}



.main_cust_area {
    width: 98% !important;
    height: 60px;
    ;
    margin: auto;
    border: 1px solid #6a6a6a;
    box-shadow: 5px 5px 10px #e6e6e6;
}









/*========================== customer section end ====================== */


/*========================== customer section end ====================== */

/* map section start */

.employee_map_section {
    width: 100% !important;
    padding: 0px;
    margin: 0px;
    height: auto;
}

.map_left_asidebar {
    z-index: 10;
    padding: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    font-size: 12px;
    font-weight: 400;
    margin-left: -5px;
    height: auto;
}

.employee_flip_window {
    padding: 0px;
    padding-top: 10px;
    border-radius: 8px;
    height: 580px !important;
    background: #e2e2e2;
    position: relative;
    top: 4px;
    width: 94%;
}

.cutomer_map_background {
    height: 580px !important;
}

.side {
    position: absolute;
    -webkit-transition: -webkit-transform 2s;
    -moz-transition: -moz-transform 2s;
    -o-transition: -o-transform 2s;
    transition: transform 2s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

    .side.rotated {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

.customer_flip_window {
    padding: 0px;
    padding-top: 10px;
    border-radius: 8px;
    height: 580px !important;
    background: #e2e2e2;
    position: relative;
    top: -5px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.map_left_window {
    height: auto;
}

.right_map_window {
    color: #000;
    font-size: 12px;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    height: auto;
    background: #b9b9b9;
    background: -webkit-linear-gradient(#b9b9b9, #e6e6e6 40%);
    background: -o-linear-gradient(#b9b9b9, #e6e6e6 40%);
    background: -moz-linear-gradient(#b9b9b9, #e6e6e6 40%);
    background: linear-gradient(#b9b9b9, #e6e6e6 40%);
    border-radius: 5px;
    height: auto;
}

.map_search_tree {
    padding: 0px;
    height: 33px;
    width: 35px;
    border: none;
    background: none;
    position: relative;
    top: -25px;
}

    .map_search_tree:hover {
        background: #a7a7a7;
        position: relative;
        top: -25px;
    }

.panel-default > .panel-heading {
    color: #333;
    background-color: #dddddd;
    border-color: #dddddd;
    font-size: 10px;
}

.panel-title > .small, .panel-title > .small > a, .panel-title > a, .panel-title > small, .panel-title > small > a {
    font-size: 12px;
}

.map_drag_data {
    height: 30px;
    background: #8b8a8a;
    width: 95%;
    margin: auto;
    border-radius: 5px;
}

.inner_map_drag_item {
    height: 24px;
    background: #f7f5e0;
    width: 94%;
    margin: auto;
    border-radius: 4px;
    position: relative;
    border: 1px solid #a79c00;
    top: 3px;
}

#accordion1 .collapsing, #accordion1 .collapse.in {
    background-color: #dddddd;
}

#accordion .collapsing, #accordion .collapse.in {
    background-color: #dddddd;
}

.employee_map_grid {
    border: 1px solid #ccc;
    text-align: center;
    height: 23px;
    width: 20px;
}

.map_grid_style {
    margin-bottom: 4px !important;
    padding: 0px !important;
    padding-bottom: -4px;
    margin-top: -11px;
}

.map_category_tg-wrap {
    width: 100%;
    background: #fff;
    padding: 0px;
    margin: 0px;
    height: 200px;
    border: 1px solid rgba(102,102,102,1);
    overflow: auto;
}

.map_category_tg {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.grid_check {
    position: relative;
    top: 10px;
    line-height: normal;
}

.pagination {
    display: inline-block;
    padding-left: 30px;
    margin: 0px;
    border-radius: 4px;
    background: -webkit-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -o-linear-gradient(#b9b9b9, #fefefe 50%);
    background: -moz-linear-gradient(#b9b9b9, #fefefe 50%);
    background: linear-gradient(#b9b9b9, #fefefe 50%);
}

    .pagination ul {
        display: inline-block;
        margin-left: 0;
        margin-bottom: 0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 0px !important;
        width: 100%;
        display: inline-flex;
    }

    .pagination a {
        background: -webkit-linear-gradient(#b9b9b9, #fefefe 50%);
        background: -o-linear-gradient(#b9b9b9, #fefefe 50%);
        background: -moz-linear-gradient(#b9b9b9, #fefefe 50%);
        background: linear-gradient(#b9b9b9, #fefefe 50%);
    }

    .pagination ul li a:hover {
        background: #feda7b;
    }

/* map section end */


/*Changes for Category Tab Right justify text*/
.rightJustifyTd {
    text-align: left;
}
