
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

.nav navbar-nav
{
background:#f8f8f8!important;
margin: 0px!important;
padding: 0px!important;
z-index:999;
position:relative;
}


    .round_nav {
    display:none!important;
    } 
    
    .isee_logo {
    position: relative;
    float: right;
    top: 0px;
    z-index:-10;
position:relative;
}

    .right_menu_isee {
    position:relative;
    z-index:-20;
    }
    
    
    .navbar-nav {
       margin-left: 0px;
    text-align: left;
    margin-top: 104px;
}

    
    
    /* login page start*/
    .cust_phone {
    width: 100%!important;
}
   
    .bottom_save_area {
        margin-top: 20px;
        display: inherit!important;
    }

    .language_box {
    width:85%;
    float:right;
    padding:0px;
    }
    /* login page end*/

    .login_cover_background {
    width:100%!important;
    display:none!important;
    }


    .left_content_area {
     border-right:none!important; 
     height:0px!important; 
    padding: 0px!important;
    margin-bottom: 10px!important;
}

.msg_date_area {
    width: 100%!important;
    padding:0px!important;
}


}

@media only screen and (min-device-width:250px) and (max-device-width: 1200px) {

 .login_cover_background{
    display:none!important;
    }



}



@media only screen and (min-device-width:768px) and (max-device-width: 1024px) {

    .login_cover_background {
        display: none!important;
    }

     .left_content_area {
     border-right:none!important; 
     height:0px!important; 
    padding: 0px!important;
    margin-bottom: 10px!important;
}
}


@media (min-width: 768px) {
   
     .left_main-asidebar {
        width: 22%!important;
    }

    .right_main_employee {
        width: 78% !important;
        margin: auto;
        padding: 0px;
    }

.category_active{
    width: 12.666667%!important;
}

.category_active_save{
    width: 11.666667%!important;
}

    .category_active_blank {
        width: 49.666667%!important;
    }
}


    .left_inner_main_emptab {
        width: 100%;
        margin:auto;
        margin-left:0px;
        margin-right:0px;
        margin-top:10px;
    }

}

@media (min-width: 768px) {
    .left_inner_main_emptab {
        width: 48%!important;
        margin-top: 10px;
    }
}

@media (min-width: 992px) {

    .msg_history {
        width: 100% !important;
    }

    .msg-heading {
        width: 35% !important;
    }

    .mian_emp_sms {
        padding: 0px !important;
    }

    .msg_date_area {
        width: 100%;
    }

    .emp_select_month {
        width: 24.333333% !important;
    }

    right_inner_emptab {
        width: 49.5% !important;
    }


    .employee_inner_demo {
        width: 49.5% !important;
    }

    .employee_inner_demo {
    width: 100% !important;
}

    .left_inner_main_emptab {
    width: 48%!important;
    margin: 10px!important;
    }

    .cust_phone2 {
width: 153%!important;
margin-left: -92px!important;
}


} .left_inner_main_cuttab
 {

     width:100%;
     margin:auto;
     position:relative;
     top:10px;
 }  /* category 17 nov changes */ 